* {
  box-sizing: border-box;
  text-align: center;
}


body {
  font-size: 20px;
  line-height: 20px;
  color: #333;
}

.box-background {
  background-color: yellow;
  width: 100%;
  height: 100%;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

.nav {
  padding: 20px;
  margin-top: 20px;
  background: #ccc;
}

.section {
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 400px;
  background: #ccc;
}

.article {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  width: 470px;
  height: 300px;
  background: grey;
}

.h1h2h3 {
  position: absolute;
  padding: 20px;
  margin-bottom: 20px;
  width: 325px;
  height: 100px;
  background: yellow;
}

.p {
  position: absolute;
  padding: 20px;
  margin: 75px;
  right: -23%;
  width: 325px;
  height: 100px;
  background: red;
}


.aside {
  position: relative;
  float: right;
  width: 500px;
  height: 400px;
  padding: 20px;
  margin-top: -438px;
  background: #fff;
  border: 1px solid #eee;
}


.footer {
  padding: 20px;
  clear: both;
  background: red;
}

